streamlit==1.38.0
pandas==2.1.4
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.5.1
imbalanced-learn==0.12.3
plotly==5.22.0
setuptools==70.3.0

# explicitly install htmlmin from GitHub source
git+https://github.com/mankyd/htmlmin@0.1.12#egg=htmlmin

# compatible profiling tool version
ydata-profiling==4.6.4
